
body {
	background:url(../images/cloth_bg.png)	
}

container { 
	border:#fff 1px solid;
	margin:0;
	padding:0;

}


.parallax-viewport {
    position: relative;     /* relative, absolute, fixed */
    overflow: hidden;
}
.parallax-layer {
    position: absolute;
}

.parallax-viewport {
      
    }
    
.diagram {
    }

small {
	    text-transform: uppercase;
	  }
	  
#viewport1 {
	  width: 60em;
      height:30em;
      background-color: none;
}
#viewport2 {
	  width: 100%;
      height:34em;
}
		  
	  
	  
#layer1 {
width:100%;
height:30em;

}

#layer2 {
width:100%;
height:28em;
}

#layer2 img{
float:right;
position:absolute;
z-index:2;
top:20em;
}

#layer3 {
width:93%;
height:32em;
}

#layer3 img {
margin:20em 0 0 40em;
position:absolute;
z-index:2;
}

#layer4 {
width:100%;
height:31em;
background:url(../images/wallpaper1.jpg)

}
#layer5 {
width:100%;
height:5em;
background:#36C;
opacity:0.5;
}
#layer6 {
width:100%;
height:3em;
background:#069;
opacity:0.5;
}